@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1E3A8A;
  --secondary: #D4AF37;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F5F7FA;
  margin: 0;
}